*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mapcontainer{
    width: 100vw;
    height: 100vh;
    position: relative;
}

#mapid{
    width: 100%;
    height: 100%;
}

.filter{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000;
    padding: 1rem;
}
